<div class="top-height">
<h1 class="underline">Home Appliances</h1>

        <a href="/explore">Back</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
<a href="/inventory/create">Add Stuff</a>
        {{!-- <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a> --}}
        <br><br>
    
     
        <div class="text-left item-display">
<ul >
    {{#each products}}
        
        

               <li class="flex-container">
            
        <div>
        <img src={{ this.image }} alt="furniture"   width="150" height="150"><br>
        <p><b>Available:</b> {{this.isAvailable}}</p>
        </div>

        <div class="invisible">----</div>

        
        <div class="let-spacing">
        <p><b>Owner:</b> {{ this.ownerName }}<br>
       <b>Product:</b> <br>{{ this.productname }}<br>
        <b>Price:</b> ${{this.price}}</p>
        <a class="" href="/inventory/{{this._id}}"><button class="btn btn-warning b-color center-b">Select</button></a>
        </div>

        

        
        </li>
        
        
    {{/each }}
</ul>
        </div>


</div>