
<h1 class="top-height">Welcome <span class="bestow">{{user.username}}</span>!</h1>

<br>

<div class="flex-container">

<div>
<img src='{{user.image}}' width="175" height="175"> 
    <br><br>
<a href='/profile/{{user._id}}/edit' ><button class="b-color remove ">Edit Profile</button></a>
    <br><br>

</div>


<div class="text-left">
    <p>Name:<br> {{user.firstname}}  {{user.lastname}}</p>
    <p>E-mail: <br>{{user.email}}</p>


</div>
 

 </div>
 
<br><br>
<a href="/inventory/create">Add Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
 <a href="/inventory" class="">My Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
<a href="/inventory/borrowed" >Borrowed Items</a>   


{{!-- <button type="button" class="btn btn-success b-color"><a href="/bestow/logout"><span class="span-letters">Logout</span></a></button> --}}
