




<div class="top-height">
<h1 class="underline"><span class="bestow">B</span>orrowed</h1>
        <a href="/explore">Explore</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
<a href="/inventory/create">Add Stuff</a>
        {{!-- <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a> --}}
        <br><br>
    
    
        <div class="text-left ">
<ul >
    {{!-- {{#if products }} --}}
    {{#each products}}
        
        
        <li class="flex-container">
            
        <div>
        <img src={{ this.image }} alt="item"   width="150" height="150">
        <br><br>
        
        <form action="/inventory/returned" method="post">
        <input type="hidden" name="productId" value="{{this._id}}">
        <button class="b-color remove center-b">Return</button>
        </form>  
        
        <br><br>
        </div>

        {{!-- <div class="invisible">----</div> --}}

        
        <div >
        
        <div class="let-spacing">
        <p ><b>Owner: </b>{{ this.ownerName }}<br>
        {{!-- <b>Type:</b> {{this.productType}}<br> --}}
        <b>Price:</b> ${{this.price}} per day<br>
        <b>Condition</b>: {{this.condition}}<br></p>
        {{!-- <b>Available:</b> {{this.isAvailable}}<br></p> --}}
        {{!-- <a class="text-center" href="/inventory/{{this._id}}"><button class="btn btn-warning b-color">Details</button></a> --}}
        </div>

        <div class="invisible">----</div>

        
        <div class="text-center">
            <br>
            <br>
        </div>
        
        </div>

        
        

        
        </li>
        
        
    {{/each }}
    {{!-- {{/if }} --}}
</ul>


        </div>

        </div>