
<div class="top-height">
<h1 class="underline">My Stuff</h1>
        <a href="/explore">Back</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
<a href="/inventory/create">Add Stuff</a>
        {{!-- <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a> --}}
        <br><br>
    
    
        <div class="text-left ">
<ul >
    {{!-- {{#if products }} --}}
    {{#each products}}
        
        
        <li class="flex-container">
            
        <div>
        <img src={{ this.image }} alt="furniture"   width="150" height="150">
        <br><br>
        <form action="/inventory/{{this._id}}/delete" method="post">
            {{#if this.isAvailable}}
            <button class="b-color remove center-b" type="submit">Delete</button>
            {{/if}}
        </form>        
        <br><br>
        </div>

        {{!-- <div class="invisible">----</div> --}}

        
        <div >
        
        <div class="let-spacing">
        <p ><b>Product: </b>{{ this.productname }}<br>
        <b>Type:</b><br>{{this.productType}}<br>
        <b>Price:</b> ${{this.price}} per day<br>
        <b>Condition</b>: {{this.condition}}<br>
        <b>Available:</b> {{this.isAvailable}}<br></p>
        {{!-- <a class="text-center" href="/inventory/{{this._id}}"><button class="btn btn-warning b-color">Details</button></a> --}}
        </div>

        <div class="invisible">----</div>

        
        <div class="text-center">
            <br>
            <br>
        </div>
        
        </div>

        
        

        
        </li>
        
        
    {{/each }}
    {{!-- {{/if }} --}}
</ul>


        </div>

        </div>
