
<div  class="top-height my-stuff ">
  

  <a href="/explore">Explore</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
 <a href="/inventory" class="">My Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/profile/{{user._id}}">Profile</a>
        {{!-- <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a>  --}}

<div class="flex-container flex-center-items">

<div>


    
<p><b>Product: </b> {{ theProduct.productname }}<br></p>
<img src="{{ theProduct.image }}" alt=""  width="200" height="200"> 

</div>

<div class="text-left let-spacing">
<p class="center-let">
    <b>Type: </b> {{ theProduct.productType }}<br>
    <b>Description:</b> <br>{{ theProduct.description }}<br>
    <b>Condition:</b> {{ theProduct.condition }}<br>
    <b>Price:</b> ${{ theProduct.price }} per day 
</p>

        <span class="invisible">------</span>

    <button class="btn btn-warning b-color ">Borrow</button>


</div>
   
</div>

</div>
 