
<div  class="top-height my-stuff ">
  <h1>Details</h1>

  <a href="/explore">Explore</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
 <a href="/inventory" class="">My Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/profile/{{user._id}}">Profile</a>
        {{!-- <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a>  --}}

<div class="flex-container flex-center-items">

<div>


    
<p><b>Product: </b> {{ theProduct.productname }}<br></p>
<img src="{{ theProduct.image }}" alt=""  width="150" height="150"> 

</div>

<div class="text-left let-spacing">
<p class="center-let">
    <b>Owner: </b> {{ theProduct.ownerName }}<br>
    <b>Type: </b><br> {{ theProduct.productType }}<br>
    <b>Condition:</b> {{ theProduct.condition }}<br>
    <b>Price:</b> ${{ theProduct.price }} per day <br>
    <b>Zip Code: </b>{{ theProduct.areaCode }}
</p>

        {{#if isReallyAvailable}}
        {{#unless isOwner}}
<form action="/inventory/borrow/{{theProduct._id}}" method="POST">
    <button class="btn btn-warning b-color center-b" type="submit">Borrow</button>
</form>
{{/unless}}
{{/if}}

{{#unless isReallyAvailable}}
<p class="message text-center"><b>Booked for next 3 days</b></p>
{{/unless}}

</div>
   
</div>

</div>
 